@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import '../../assets/style/variables.scss';
@import '../../assets/style/normalize.scss';
.Svg_icon{
    background: #171f2b;
    .svg_images{
        height: $size-vh100;
        width: $size-vw100;
        svg{
            width: $size-50;
            height: $size-50;
            margin: 0 auto;
        } 
        h1{
            font-family: "Playwrite GB S", cursive;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: $font-size-3;
            padding-top: $size-2;
            color: #0ef;
        }
    }
}