@import '../../assets/style/normalize.scss';
@import '../../assets/style/variables.scss';
@import '../../assets/style/mixin.scss';
.globe {
    position: relative;
    padding: $size-1;
    @include screen-max-width-600 {
        display: flex;
    }
    i {
        color: var(--main-color);
        font-size: $size-2;
        cursor: pointer;
    }
    .open {
        display: none;
        .flags {
            @include screen-max-width-600 {
                display: flex;
            }
            button {
                display: block;
                border: none;
                background: none;
                img {
                    cursor: pointer;
                    margin: 5px;
                    width: 25px;
                }
            }
        }
    }
    .opensLenguage {
        position: absolute;
        right: 14px;
        display: block;
        @include screen-max-width-600 {
            right: 0;
            position: static;
            margin-top: $size-02;
        }
    }
}
