@import '../../assets/style/variables.scss';
@import '../../assets/style/mixin.scss';

.portfolio {
    padding-top: $size-2;
    padding-bottom: $size-22;
    @include screen-max-width-991 {
        padding-top: $size-1_5;
        padding-bottom: $size-27;
    }
    @include screen-max-width-768 {
        padding-bottom: $size-25;
    }
    @include screen-max-width-600 {
        padding-top: $size-1;
        padding-bottom: $size-22;
    }
    h2 {
        @include screen-max-width-600 {
            font-size: $font-size-2;
        }
        @include screen-max-width-400 {
            padding-top: $size-1;
            padding-bottom: $size-1;
        }
    }
    .tab_box {
        @include screen-max-width-768 {
            height: $size-4;
        }
        @include screen-max-width-600 {
            margin-top: 0;
        }
        .tab_list {
            display: flex;
            width: $size-100;
            border-bottom: $size-03 solid var(--tab-list-color);
            cursor: pointer;
            color: var(--tab-list-color);
            transition: $transition-05;
            h3 {
                font-size: $font-size-2_5;
                @include screen-max-width-600 {
                    font-size: $font-size-2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                @include screen-max-width-400 {
                    font-size: $font-size-1_5;
                }
            }
        }
    }
    .tab_wrapper {
        position: relative;
        width: $size-100;
        height: 55%;
        @include screen-max-width-600 {
            height: 60%;
        }
        @include screen-max-width-400 {
            height: 65%;
        }
        .tab_item {
            .work_info {
                z-index: 1;
                visibility: hidden;
                opacity: 0;
                transition: $transition-03;
                h4 {
                    line-height: 1;
                    padding-bottom: $size-1;
                    padding-top: $size-1;
                }
                .tech_used {
                    color: var(--main-color);
                    border-bottom: $size-01 solid var(--white-color);
                    padding-bottom: $size-1;
                    padding-top: $size-1;
                }
                .portfolio_icon {
                    a {
                        position: relative;
                        display: inline-flex;
                        padding: $size-05;
                        background: var(--white-color);
                        border-radius:$size-50;
                        font-size: $font-size-1;
                        color: var(--bg-color);
                        border: $size-02 solid var(--main-color);
                        margin: $size-08;
                        transition: $transition-03;
                        & {
                            background: var(--main-color);
                            color: var(--bg-color);
                        }
                        .tooltip {
                            @include screen-max-width-400 {
                                grid-template-columns: repeat(auto-fit, minmax($size-15, 1fr));
                            }
                            grid-template-columns: repeat(auto-fit, minmax($size-22, 1fr));
                            gap: $size-2;
                            overflow-y: auto;
                            overflow-x: hidden;
                        }
                        &:hover .tooltip {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            &:hover .work_info {
                visibility: visible;
                opacity: 1;
            }
            p{
                margin-top: $size-05;
            }
        }
    }
}
.tab_item.portfolio_item .service_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $size-05;
}
.tab_item.portfolio_item:hover .service_icon i {
    color: var(--main-color);
}
.tab_item.portfolio_item .service_icon i {
    font-size: $font-size-4;
}
.tab_item.portfolio_item .service_icon a i {
    transform: rotate(-135deg);
    transition: $transition-03;
}
.tab_item.portfolio_item .service_icon a:hover  {
    transform: rotate(-40deg);
}
.tab_item .portfolio_icon a {
    color: var(--white-color);
}
.portfolio_item .work_icon a:nth-child(1) {
    margin-right: $size-1;
}
.portfolio_item .work_icon a:nth-child(1) i {
    transform: rotate(-50deg);
}
.portfolio_box.service .portfolio_item:hover h4 {
    color: var(--main-color);
}
.portfolio_item {
    position: relative;
}
.work .portfolio_item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: $size-100;
    height: $size-100;
    background: var(--third-bg-color);
    border-radius: $size-08;
    z-index: 1;
    opacity: 0;
    transition: $transition-03;
}
.portfolio_item:hover::before {
    opacity: 0.7;
}
.portfolio_item .work_img {
    position: absolute;
    left: 0;
    top: 0;
    width: $size-100;
    height: $size-100;
    border-radius: $size-08;
    overflow: hidden;
}
.portfolio_item .work_img img {
    display: block;
    width: $size-100;
    height: $size-100;
    object-fit: cover;
    transition: $transition-03;
}
.portfolio_item:hover .work_img img {
    transform: scale(1.2);
}
.tab_box .portfolio_list:nth-child(1) {
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab_box .portfolio_list:nth-child(2) {
    justify-content: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab_list.portfolio_list.active {
    border-color: var(--main-color);
    color: var(--main-color);
}
.tab_grid.portfolio_box.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: $transition-05;
    padding: $size-1;
}
.section .portfolio .active {
    visibility: visible;
}